@model IEnumerable<CRMEntities.Agency>

@{
    ViewBag.Title = "Agencies";
}

<div class="crm-page-header tableDiv">
    <div class="tableDivRow">
        <div class="tableDivCell" style="text-align:left;">
            <h3>Agencies</h3>
        </div>
        <div class="tableDivCell" style="float:right;">
            <input type="button" class="btn btn-default" value="Add" onclick="location.href='@Url.Action("Create", "Agency")'" />
        </div>
    </div>
</div>
<table class="crm-table">
    <tr>
        <th>
            Name
        </th>
        <th style="width:7%;">

        </th>
        <th style="width:7%;">

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <input type="button" class="btn btn-default btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", "Agency", new { id = @item.Id })'" />
            </td>
            <td>
                <input type="button" class="delete-link btn btn-default btn-sm" value="Delete" onclick="removeAgency(@item.Id);" />
            </td>
        </tr>
    }
</table>
