@model CRMEntities.Agency

@{
    ViewBag.Title = "View";
}

<div class="crm-page-header tableDiv">
    <div class="tableDivRow">
        <div class="tableDivCell" style="text-align:left;">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
        </div>
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" value="1" id="hdnCurrentTab" />
    </div>
</div>

@using (Html.BeginForm("View", "Agency", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="crm-sub-list">
        <ul>
            <li><a onclick="location.href='@Url.Action("Index")'"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a></li>
            <li><a onclick="changeAgencyTab('1');">Agency</a></li>
            <li><a onclick="changeAgencyTab('2');">Contacts</a></li>
            <li><a onclick="changeAgencyTab('3');">History</a></li>
        </ul>
    </div>
    <div id="divAgencyTabCont">
        <div id="divAgencyMain" class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="divAgencyContacts" class="hideMe">
            <hr />
            <table class="crm-table">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th><input class="btn btn-default fr" type="button" value="Add" onclick="loadContactDetail(0, @Model.Id);" /></th>
                </tr>
            </table>
            <div id="agency-contact-container"></div>
        </div>
        <div id="divHistory" class="hideMe">
            <hr />
            <div class="add-history-container" id="add-history-container">
            </div>
            <div class="history-container fr" id="history-container">
            </div>
        </div>
    </div>

    <div class="form-group buttonContainer">
        <div class="col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div id="NewContact" class="modal">
    <input id="hdnId" type="hidden" />
    <div id="contact-cont" class="modal-content w40">
    </div>
</div>

<div id="modal-cont" class="modal">
    <div id="modal-cont-inner" class="modal-content w40">
    </div>
</div>
