@model List<CRMEntities.ContactDetails>

@foreach (var item in Model)
{
<div id="contactHeader" style="cursor:pointer;" onclick="loadContactDetail(@item.ContactDetailId, @item.EntityId);">
        <table class="crm-table">
            <tr>
                <td>
                    @item.Forename @item.Surname
                </td>
                <td>
                    @item.Mobile
                </td>
                <td>
                    @item.Email
                </td>
                <td class="delete-link fr" style="cursor:pointer;" onclick="deleteContact(@item.ContactDetailId, @item.EntityId);"><i class="fa fa-times fa-fw" aria-hidden="true"></i></td>
            </tr>
        </table>
    </div>
}
